---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout
  title="Blog - Matthew Volk"
  description="Blogs written by Matthew Volk"
>
  <main>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <FormattedDate date={post.data.pubDate} /> — {post.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
