@tailwind base;
@tailwind components;
@tailwind utilities;

// WCAG AAA contrast ratio of 7:1
[data-bright-theme] {
  --line-number-color: #999fa6 !important;
}

// WCAG AAA contrast ratio of 7:1
[data-bright-theme] [data-bright-ln] {
  --line-number-color: #999fa6 !important;
}

// WCAG AAA contrast ratio of 7:1
[data-bright-theme] [style*="color:#8B949E"] {
  color: #999fa6 !important;
}

// WCAG AAA contrast ratio of 7:1
[data-bright-theme] [style*="color: rgb(139, 148, 158);"] {
  color: #999fa6 !important;
}
