@tailwind base;
@tailwind components;
@tailwind utilities;

/*** Common ***/
body {
  @apply bg-white text-slate-950 dark:bg-slate-950 dark:text-slate-50;
}

/*** Loading Animation for BigExec ***/
.bigexec-loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  font-size: 1rem;
  content: "...";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;
  }
}
