@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #000034;

  .blogSection {
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 0 25px;
    text-align: center;

    h1 {
      font-size: 2rem;
      margin: 5rem 0 3rem 0;
      text-align: center;
    }

    .blog {
      margin: 1rem 0;

      .blogLink {
        color: #000034;
        text-decoration: none;

        .blogTitle {
          margin: 4rem 0 0 0;
          font-size: 1.35rem;
          font-weight: 300;
        }

        .blogInfo {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin: 0;

          .blogInfoGroup {
            display: flex;
            color: #8a8aa9;
            margin-right: 1.5rem;
            margin-top: 1rem;
            font-size: 0.85rem;
            font-weight: 200;

            .blogInfoGroupIcon {
              margin-right: 0.5rem;
            }

            .blogInfoGroupText {
              margin: 0;
            }
          }

          @media only screen and (max-width: 446) {
            .blogInfoGroup {
              margin-top: 1.75rem;
            }
          }
        }
      }

      .blogLink:hover {
        .blogTitle {
          text-decoration: underline;
        }
      }
    }
  }
}
