@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  font-family: "Be Vietnam Pro", sans-serif;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 25px;

  .postTitle {
    text-align: center;
    font-size: 3rem;
    margin: 5rem 0 2rem 0;
  }

  .postMeta {
    text-align: center;
    font-weight: 300;
    color: #8a8aa9;
    margin: 0.5rem 0;
  }

  .postContentContainer {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 4rem;

    .postContent {
      font-weight: 300;
      line-height: 1.75rem;
    }
  }
}
