@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #000034;

  .header {
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1080px;
      margin: 0 auto;
      padding: 0 25px;

      .button {
        border: 1px solid #000034;
        background-color: #000034;
        font-size: 0.95rem;
        color: white;
        padding: 0.75rem;
        margin-left: 20px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.15s, color 0.15s;
        box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
          0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
          0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
        transition: transform 0.25s;
      }

      .button:hover {
        transform: translateY(-3px);
        transition: transform 0.25s;
      }

      .logoLink {
        text-decoration: none;
        color: #000034;

        .logo {
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
  }

  .article {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 25px;

    .articleTitle {
      text-align: center;
      margin: 0;
      margin-top: 6rem;
      font-size: 3rem;
    }

    .articleAuthor {
      text-align: center;
      font-weight: 200;
    }

    .articleTTR {
      text-align: center;
      font-weight: 200;
    }
  }

  footer {
    margin-top: 9rem;
    margin-bottom: 5rem;
    text-align: center;
    color: #8a8aa9;
    font-weight: 300;
  }
}
